/*
    Level Up component styles
*/

#levelUp {
    margin-top: 1.5%;
    width: 72%;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 1rem;
}

#levelUpWrapper {
    padding: 6rem 0;
}

#levelUp h2 {
    margin: 1rem;
    gap: 3rem;
    font-size: 4rem;
    font-variant: small-caps;
    letter-spacing: 0.1rem;
}

#levelUp h3 {
    margin: 1rem;
    font-size: 3rem;
    letter-spacing: 0.25rem;
}

#levelUp ul {
    margin: 3.5rem 0;
    text-align: center;
    list-style: none;
    font-size: 2.2rem;
}

#levelUp ul li {
    margin: 1rem;
}

#levelUp li span {
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.score {
    gap: 1.75rem;
    padding: 3rem 0 0;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
}

.score span {
    font-size: 3.3rem;
    letter-spacing: 0.15rem;
}

#levelUp .redirect-button {
    font-size: 1.45rem;
    padding: 1rem;
}

#levelUp .redirect-button:hover {
    background-color: var(--blackOverlay);
    color: var(--lightBlue);
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #levelUp {
        margin-top: 1%;
    }
    
    #levelUpWrapper {
        padding: 4rem 0;
    }
    
    #levelUp h2 {
        font-size: 3.2rem;
        gap: 2.4rem;
    }
    
    #levelUp h3 {
        font-size: 2.2rem;
        letter-spacing: 0.25rem;
    }

    #levelUp ul {
        font-size: 2rem;
        margin: 2.5rem;
    }
    
    #levelUp ul li {
        margin: 0.8rem;
    }

    #levelUp li span {
        font-size: 2.4rem;
    }
    
    .score {
        gap: 1.5rem;
        padding: 2rem 0 0;
        font-size: 2.6rem;
    }

    .score img {
        height: 1.75em;
    }

    .score span {
        font-size: 2.6rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #levelUp {
        margin-top: 0rem;
    }
    
    #levelUpWrapper {
        padding: 2rem 0;
    }
    
    #levelUp h2 {
        font-size: 3.2rem;
        gap: 2.4rem;
    }
    
    #levelUp h3 {
        font-size: 2rem;
        letter-spacing: 0.15rem;
    }

    #levelUp ul {
        font-size: 1.75rem;
        margin: 2.25rem;
    }
    
    #levelUp ul li {
        margin: 0.5rem;
    }

    #levelUp li span {
        font-size: 2.25rem;
    }
    
    .score {
        gap: 1.5rem;
        padding: 2rem 0 0;
        font-size: 2.5rem;
    }

    .score img {
        height: 1.75em;
    }
}