/*
    RocketButton.css
    
    RocketButton.jsx uses a Rocket Emoji and some text
    On hover, the Rocket Emoji plays an animation

    The button, on hover, will bounce. This animation is found in `global.css`
*/
#rocketButton {
    align-items: center;
    justify-content: center;
    width: 10rem;
    margin: 5rem 1rem;
    padding: 3rem;
    background-color: var(--buttonBlue);
    font-size: 2.5rem;
    font-family: var(--mono);
    font-variant: small-caps;
    letter-spacing: 0.15rem;
    border: none;
    border-radius: 0.4rem;
}

#rocketButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--lightBlue);
}

.rocketBelow {
    flex-direction: column;
}

.rocketHorizontalRight {
    transform: rotate(45deg);
    line-height: 5rem;
    font-size: 3rem;
}

#rocketButton:hover .rocketHorizontalRight {
    animation: rocketHorizontalWiggleRight 0.6s ease-in-out infinite;
}

@keyframes rocketHorizontalWiggleRight {
    0%, 25%, 100% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(38deg)
    }

    75% {
        transform: rotate(52deg);
    }
}

.rocketHorizontalLeft {
    transform: rotate(225deg);
    line-height: 5rem;
    font-size: 3rem;
}

#rocketButton:hover .rocketHorizontalLeft {
    animation: rocketHorizontalWiggleLeft 0.6s ease-in-out infinite;
}

@keyframes rocketHorizontalWiggleLeft {
    0%, 25%, 100% {
        transform: rotate(225deg);
    }

    25% {
        transform: rotate(218deg)
    }

    75% {
        transform: rotate(232deg);
    }
}

.rocketVertical {
    transform: rotate(-25deg);
    font-size: 1.8rem;
    padding: 0 0 0 0.25rem;
}

#rocketButton:hover .rocketVertical {
    animation: rocketVerticalWiggle 0.6s ease-in-out infinite;
}

@keyframes rocketVerticalWiggle {
    0%, 25%, 100% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(-55deg)
    }

    75% {
        transform: rotate(-35deg);
    }
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #rocketButton {
        width: 9rem;
        margin: 5rem 0.6rem;
        font-size: 2.2rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #rocketButton {
        width: 8rem;
    }
}