#setComplete {
    margin: 1%;
    width: 80%;
    padding: 2rem;
    background-color: rgb(76, 136, 113, .95);
    border: 1px solid black;
    border-radius: 0.5rem;
}

#setComplete h3 {
    width: 60%;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    gap: 1rem;
    color: var(--buttonBlue);
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
    background-color: var(--blackOverlay);
    border-radius: 0.25rem 4rem 4rem 0.25rem;
}

#setComplete .setWrap {
    padding: 3rem;
}

#setComplete h2 {
    margin: 2rem;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: black;
}


#setComplete ul {
    margin: 3rem;
}

#setComplete li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin: 1rem;
    height: 2em;
    list-style: none;
    font-size: 2.2rem;
    color: black;
}

#setComplete li span {
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

#setComplete button {
    margin: 3rem 1rem;
    flex-basis: 22%;
    padding: 2rem 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}

#setComplete button:hover {
    background-color: var(--buttonBlue);
    color: black;
}

.erase {
    color: rgb(210, 122, 122);
}

.parent:hover .erase {
    color: var(--red);
}

@media (max-width: 2000px) {
    #setComplete {
        margin: 0.5%;
    }

    #setComplete .setWrap {
        padding: 1.5rem;
    }

    #setComplete h3 {
        font-size: 2rem;
    }

    #setComplete h2 {
        font-size: 3.5rem;
    }

    #setComplete ul {
        margin: 2rem;
    }

    #setComplete li {
        gap: 6rem;
        margin: 1rem;
        height: 1.6em;
        list-style: none;
        font-size: 2rem;
        color: black;
    }
    
    #setComplete li span {
        font-size: 2.25rem;
    }

    #setComplete img {
        height: 4rem;
    }

    .btnRowBundle {
        padding: 1.5rem;
    }

    .btnRowBundle button {
        font-size: 1.75rem;
    }
}