#setComplete {
    margin-top: 3vh;
    width: 75vw;
    height: 75vh;
    padding: 2vh 0;
    background-color: rgb(76, 136, 113, .95);
    border: 1px solid black;
    border-radius: 0.5rem;
}

#setComplete h3 {
    width: 60%;
    margin-bottom: 2vh;
    padding-left: 2vw;
    gap: 1rem;
    color: var(--buttonBlue);
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    background-color: var(--blackOverlay);
    border-radius: 0.25rem 4rem 4rem 0.25rem;
}

#setComplete h2 {
    margin-bottom: 1vh;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: black;
}


#setComplete li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    margin: 1rem;
    height: 2em;
    list-style: none;
    font-size: 2.2rem;
    color: black;
}

#setComplete li span {
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

#setComplete button {
    margin: 3vh 2vw 6vh;
    width: 16vw;
    padding: 2rem 0;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
}

@media (max-width: 2000px) {
    #setComplete {
        margin-top: 3vh;
        width: 75vw;
        height: 75vh;
        padding: 2vh 0;
    }
    
    #setComplete h3 {
        font-size: 2.2rem;
        font-weight: 400;
    }

    #setComplete img {
        height: 4rem;
    }
    
    #setComplete h2 {
        font-size: 3.6rem;
    }
    
    
    #setComplete li {
        gap: 5rem;
        height: 1.8em;
        font-size: 2rem;
    }
    
    #setComplete li span {
        font-size: 2.2rem;
    }
    
    #setComplete button {
        margin: 2vh 2vw 6vh;
        padding: 1.5rem 0;
        font-size: 1.75rem;
    }
}