/*
    About component styles
*/

#aboutMenu {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#aboutWrapper {
    padding: 4rem 10rem;
    border-radius: 1rem;
    background-color: var(--blackWrap);
}

#aboutMenu h2 {
    align-self: flex-start;
    width: 45%;
    margin: 3rem 0rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

#aboutParagraph {
    font-size: 1.75rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    text-align: left;
}

.signature {
    text-align: right;
    margin-right: 5rem;
    font-size: 2rem;
    font-style: italic;
    font-family: Arial;
    letter-spacing: 0.15rem;
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #aboutMenu {
        margin-top: 3%;
    }
    
    #aboutWrapper {
        padding: 2rem 6rem;
    }

    #aboutMenu h2 {
        font-size: 1.75rem;
        letter-spacing: 0.5rem;
    }
    
    #aboutParagraph {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    
    .signature {
        font-size: 1.75rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #aboutMenu {
        margin-top: 2%;
    }
    
    #aboutWrapper {
        padding: 1rem 3rem;
    }

    #aboutMenu h2 {
        font-size: 1.55rem;
        letter-spacing: 0.5rem;
    }
    
    #aboutParagraph {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
    
    .signature {
        font-size: 1.5rem;
    }
}
