/*
    About component styles
*/

#aboutMenu {
    margin-top: 9rem;
    display: flex;
    justify-content: center;
}

#aboutWrapper {
    padding: 4rem 10rem;
    border-radius: 1rem;
    background-color: var(--blackWrap);
}

#aboutMenu h2 {
    align-self: flex-start;
    width: 45%;
    margin: 3rem 0rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

#aboutParagraph {
    font-size: 1.75rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    text-align: left;
}

.signature {
    text-align: right;
    margin-right: 5rem;
    font-size: 2rem;
    font-style: italic;
    font-family: Arial;
    letter-spacing: 0.15rem;
}

@media (max-width: 2000px) {
    #aboutMenu {
        margin-top: 3rem;
    }
    
    #aboutWrapper {
        padding: 3rem 9rem;
    }

    #aboutMenu h2 {
        font-size: 1.75rem;
        letter-spacing: 0.5rem;
    }
    
    #aboutParagraph {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    
    .signature {
        font-size: 1.75rem;
    }

}