/*
    Specific planet colors belong to the planet css stylesheet
*/

#LevelEntry {
    margin: 5vh 0 0 0;
    width: 80vw;
    min-height: 80vh;
    padding: 2rem 6rem;
    border-radius: 1rem;
}

#LevelEntry h2 {
    gap: 2rem;
    margin: 2rem;
    font-size: 3.3rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

#LevelEntry > hr {
    width: 50%;
    margin: -1vh 0 1vh 0;
    border: 1px solid black;
}

#LevelEntry .entry-row {
    width: 100%;
    justify-content: space-around;
}

#LevelEntry .entry-row hr {
    border: 1px solid var(--blackOverlay);
    box-shadow: 0px 5px 10px var(--blackWrap);
}

#LevelEntry .text-box {
    min-height: 60vh;
    width: 80%;
    margin: 5vh 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#typing {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    max-width: 90%;
}

#typing p {
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 0.15rem;
    font-size: 2rem;
}

#LevelEntry button {
    margin: 2vh 0 0;
}

/************

    Media Queries

*************/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {

    #LevelEntry {
        padding: 1rem 4rem;
    }

    #typing p {
        line-height: 2rem;
        letter-spacing: 0.1rem;
        font-size: 1.7rem;
    }
    
    #LevelEntry h2 {
        margin-bottom: 1.5rem;
        font-size: 2.6rem;
    }

    #LevelEntry span {
        font-size: 2rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #LevelEntry {
        padding: 0 2rem;
    }

    #typing p {
        line-height: 1.75rem;
        letter-spacing: 0.05rem;
        font-size: 1.55rem;
    }
    
    #LevelEntry h2 {
        margin-bottom: 0.5rem;
        font-size: 2.5rem;
    }

    #LevelEntry span {
        font-size: 1.75rem;
    }
}