/*
    Timer component styles
*/

#timerWrapper {
    display: flex;
    justify-content: center;
}

#timer {
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--mono);
    background-color: rgba(0, 0, 0, 0.269);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#ArithLevel > #timerWrapper > #timer {
    color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 2000px) {
    #timer {
        font-size: 2.2rem;
    }
}