/*
    Alpha-Literacy view styles
*/

#litPath {
    margin-top: 0.5%;
}

#litPath #LevelEntry {
    background-color: rgba(26, 45, 79, 0.95);
}

#litLevel {
    margin-top: 1%;
    width: 80%;
    padding: 2rem 2rem 4rem;
    background-color: rgba(26, 45, 79, 0.95);
    border-radius: 1rem;
}

#litProb {
    text-align: center;
    margin: 2.5rem;
}

#litProb p {
    font-size: 3rem;
}

#litAns {
    width: 15rem;
    padding: 0.5rem;
    background-color: rgba(249, 247, 247, 0.715);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.15rem;
    color: rgb(0, 0, 0);
}

.letterQ {
    font-size: 6rem;
    line-height: 9rem;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.emojiQ {
    margin-top: 1vh;
    font-size: 8rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wordQ {
    font-size: 4rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#emojiLevel {
    width: 100%;
}

.emojiBundle {
    width: 20rem;
    min-height: 10rem;
    padding: 1rem;
    margin: 1rem;
    border: 3px solid black;
    text-align: center;
    font-size: 2.25rem;
    letter-spacing: 0.2rem;
}

#spell {
    line-height: 6rem;
}


#litLevel .filledFootbox {
    background-color: rgba(255, 255, 255, 0.75);
}


#litLevel .Tipbox {
    margin: 1rem;
    background-color: var(--buttonBlue);
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #litLevel {
        margin-top: 0.5%;
        padding: 2rem;
    }
    
    #litProb, #emojiLevel {
        margin: 0.5rem;
    }

    #litProb p {
        font-size: 2.25rem;
    }
    
    #litAns {
        font-size: 2.6rem;
        width: 15rem;
        margin: 0 0 1rem;
        letter-spacing: 0.15rem;
    }
    
    .letterQ {
        font-size: 5rem;
        line-height: 8rem;
    }
    
    .emojiQ {
        font-size: 6rem;
    }

    .wordQ {
        font-size: 3rem;
    }
    
    #spell {
        line-height: 8rem;
    }
        
    .emojiBundle {
        min-height: 8rem;
        font-size: 2rem;
    }

    #litLevel .objective {
        margin: 1rem 0;
        padding: 0.4rem 0.8rem 0;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;
    }
    
    #litLevel .objective img {
        margin: 0.5rem 0.5rem 0.8rem;
    }
    
    #litLevel .objective span {
        margin: 0.5rem;
        padding-bottom: 0.25rem;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #litLevel {
        width: 90%;
        margin-top: 0.5%;
        padding: 1rem 1rem 2rem;
    }

    #litProb {
        margin: 0rem;
    }

    #litProb p {
        font-size: 2.25rem;
    }
    
    #litAns {
        font-size: 2.6rem;
        width: 15rem;
        margin: 0 0 1rem;
        letter-spacing: 0.15rem;
    }
    
    .letterQ {
        font-size: 5rem;
        line-height: 8rem;
    }
    
    .emojiQ {
        font-size: 6rem;
        line-height: 2rem;
    }

    .wordQ {
        font-size: 3rem;
    }
    
    #spell {
        line-height: 8rem;
    }
        
    .emojiBundle {
        width: 18rem;
        font-size: 2rem;
    }

    #litLevel .objective {
        margin: 1rem 0;
        padding: 0.4rem 0.8rem 0;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;

    }
    
    #litLevel .objective img {
        margin: 0.5rem 0.5rem 0.8rem;
    }
    
    #litLevel .objective span {
        margin: 0.5rem;
        padding-bottom: 0.25rem;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
}