/*
    Alpha-Literacy view styles
*/

#litPath {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5% 0;
}

#litPath #LevelEntry {
    background-color: rgba(26, 45, 79, 0.95);
}

#litLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 2rem;
    background-color: rgba(26, 45, 79, 0.95);
    border-radius: 1rem;
}

#litProb {
    text-align: center;
    margin: 1.5rem; /* footbox.css contains a margin that overrides bottom margin here */
}

#litProb p {
    font-size: 3rem;
}

#litAns {
    width: 15rem;
    padding: 0.5rem;
    background-color: rgba(249, 247, 247, 0.715);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.15rem;
    color: rgb(0, 0, 0);
}

.letterQ {
    font-size: 6rem;
    line-height: 9rem;
    font-weight: 300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.emojiQ {
    font-size: 8rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.wordQ {
    font-size: 4rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#spell {
    line-height: 6rem;
}


.medEmoji {
    font-size: 7rem;
    line-height: 9rem;
}

.emojiFont {
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
}

#litLevel .filledFootbox {
    background-color: rgba(255, 255, 255, 0.75);
}


#litLevel .Tipbox {
    margin: 1rem;
    background-color: var(--buttonBlue);
}

@media (max-width: 2000px) {
    
    #litLevel {
        padding: 1rem 0;
        width: 88%;
    }

    #litProb {
        margin: 0rem;
    }

    #litProb p {
        font-size: 2.25rem;
    }
    
    #litAns {
        font-size: 2.6rem;
        width: 15rem;
        margin: 0 0 1rem;
        letter-spacing: 0.15rem;
    }
    
    .letterQ {
        font-size: 5rem;
        line-height: 8rem;
    }
    
    .emojiQ {
        font-size: 6rem;
        line-height: 2rem;
    }

    .wordQ {
        font-size: 3rem;
    }
    
    #spell {
        line-height: 8rem;
    }
    
    .medEmoji {
        font-size: 5.5rem;
        line-height: 2.5rem;
    }
    
    .emojiFont {
        font-size: 3.1rem;
        letter-spacing: 0.4rem;
        line-height: 5.5rem;
    }

    #litLevel .objective {
        margin: 1rem 0;
        padding: 0.4rem 0.8rem 0;
        font-size: 1.4rem;
        letter-spacing: 0.1rem;

    }
    
    #litLevel .objective img {
        margin: 0.5rem 0.5rem 0.8rem;
    }
    
    #litLevel .objective span {
        margin: 0.5rem;
        padding-bottom: 0.25rem;
        font-size: 1.8rem;
        letter-spacing: 0.2rem;
    }
}