/*
    LitPath component styles
*/

#litPath {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

#litLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 45, 79, 0.95);
    padding: 2rem 10rem;
    border-radius: 1rem;
}

#litQ {
    font-size: 3rem;
    text-align: center;
    line-height: 4rem;
    margin: 4.5rem 0 3rem;
}

#litAns {
    width: 15rem;
    padding: 0.5rem;
    background-color: rgba(249, 247, 247, 0.715);
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8rem;
    letter-spacing: 0.15rem;
    color: rgb(0, 0, 0);
}

#letterQ {
    font-size: 6rem;
    line-height: 9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#litQ4 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 3rem 0 2rem 0;
}

#spell {
    line-height: 6rem;
}


.medEmoji {
    font-size: 7rem;
    line-height: 9rem;
}

.emojiFont {
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
}

/*
    Footbox component styles
*/

#litLevel #footbox {
    margin: 6rem 0 4rem;
}

#litLevel .emptyFootbox {
    margin: 0 0.8rem;
    padding: 1rem 1.3rem;
    border: 3px solid black;
}

#litLevel .filledFootbox {
    margin: 0 0.8rem;
    padding: 1.1rem 1.4rem;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.75);
}

/*
    Objective component styles inside Alpha-Literacy
*/
#litLevel .objective {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin: 3rem 0;
    padding: 0.4rem 0.8rem 0;
    font-weight: 200;
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.269);
    border-radius: 0.5rem;
}

#litLevel .objective img {
    margin: 0.5rem 0.5rem 1rem 1rem;
}

#litLevel .objective span {
    margin: 0.5rem;
    padding-bottom: 0.2rem;
    font-size: 2rem;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
}

@media (max-width: 2000px) {
    #litPath {
        margin-top: 3rem;
    }
    
    #litWrapper {
        padding: 1.4rem 8rem;
    }

    #litQ {
        font-size: 2.8rem;
        line-height: 4rem;
        margin: 3.5rem 0 2rem;
    }
    
    #litAns {
        font-size: 2.6rem;
        width: 15rem;
        margin: 0 0 1rem;
        letter-spacing: 0.15rem;
    }
    
    #letterQ {
        font-size: 5rem;
        line-height: 6rem;
    }
    
    #litQ4 {
        font-size: 2rem;
        margin: 2rem 0;
    }
    
    #spell {
        line-height: 8rem;
    }
    
    .medEmoji {
        font-size: 5.5rem;
        line-height: 2.5rem;
    }
    
    .emojiFont {
        font-size: 3.1rem;
        letter-spacing: 0.4rem;
        line-height: 5.5rem;
    }
}