.Alertbox {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    color: black;
    font-size: 1rem;
    cursor: default;
} 

.Alertbox img {
    margin-right: 0.5rem;
}


@media (max-width: 2000px) {
    .Alertbox {
        font-size: .92rem;
    }

    .Alertbox img {
        height: 4vh;
    }
}