/* 
  Popup.css
*/

.popup {
    z-index: 999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%; /* default value, overriden when needed */
    padding: 5rem 7rem;
    background-color: rgb(76, 136, 113);
    border: 1px solid black;
    border-radius: 0.5rem;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 2rem;
    line-height: 3rem;
  }
  
  .close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
  }

  .popup .redirect-button:hover {
    background-color: var(--buttonBlue);
    color: black;
  }

  /**
    Medium Screen 
  **/
  @media screen and (min-width: 1450px) and (max-width: 1950px) {
    .popup {
      padding: 4rem 6rem;
    }

    .popup-content {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }

  /**
    Small Screen
  **/
  @media screen and (max-width: 1450px) {
    .popup {
      padding: 2rem 4rem;
    }

    .popup-content {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }