/* SetHeader component */

.setHeader {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    margin: 5rem 1rem 0;
}

@media (max-width: 2000px) {
    .setHeader {
        font-size: 1.45rem;
        margin: 5rem 1rem 0;
    }
}