/*
    Perspective view styles
*/

#PerspWrap {
    margin: 0.5% 0;
}

#PerspWrap #LevelEntry {
    background-color: rgba(91, 149, 143, 0.95);
    color: white;
}

#PerspWrap #LevelEntry h2 {
    color: black;
}

#PerspLevel {
    width: 80%;
    padding: 3rem 0;
    background-color: rgba(91, 149, 143, 0.95);
    border-radius: 1rem;
}

#PerspLevel .shapeOverlay {
    width: 80%;
    margin-top: 1rem;
    padding: 4rem 0 8rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
}

#PerspLevel .shapeOverlay img:hover {
    cursor: pointer;
}

#PerspLevel .shapeOverlay .emojiImg {
    font-size: 6rem;
    margin: 1rem 0;
    background: none;
    border: none;
}

#PerspLevel .shapeOverlay .speaker {
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    border: none;
}

#PerspLevel .leftRight {
    display: flex;
    justify-content: space-evenly;
}


#PerspLevel .filledFootbox {
    background-color: rgb(166, 222, 194);
}

#PerspLevel .Tipbox {
    margin: 0.5rem;
    background-color: rgb(166, 222, 194);
}


/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #PerspLevel {
        width: 85%;
        padding: 1rem 0;
    }

    #PerspLevel .shapeOverlay {
        padding: 3rem 0 6rem;
    }

    #PerspLevel .shapeOverlay img {
        height: 10rem;
    }

    #PerspLevel .shapeOverlay .emojiImg {
        font-size: 5rem;
        margin: 0.5rem 0;
    }

    #PerspLevel .shapeOverlay .speaker {
        font-size: 3.5rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #PerspLevel {
        width: 90%;
        padding: 1rem 0;
    }

    #PerspLevel .shapeOverlay {
        margin-top: 0.5rem;
        padding: 2rem 0 4rem;
    }

    #PerspLevel .shapeOverlay img {
        height: 9rem;
    }

    #PerspLevel .shapeOverlay .emojiImg {
        font-size: 4.5rem;
        margin: 0;
    }

    #PerspLevel .shapeOverlay .speaker {
        font-size: 3.25rem;
    }
}