/*
    Perspective view styles
*/

#PerspWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5%;
}

#PerspWrap #LevelEntry {
    background-color: rgba(91, 149, 143, 0.95);
    color: white;
}

#PerspWrap #LevelEntry h2 {
    color: black;
}

#PerspLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 3rem 0;
    background-color: rgba(91, 149, 143, 0.95);
    border-radius: 1rem;
}

#PerspLevel #LevelHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 98%;
    margin: 3rem;
}

#PerspLevel .shapeOverlay {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 4rem 0 8rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
}

#PerspLevel .shapeOverlay img:hover {
    cursor: pointer;
}

#PerspLevel .speaker {
    margin-bottom: 2.5rem;
    padding: 0.5rem 1rem;
    font-size: 4rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
    border: none;
}

#PerspLevel .leftRight {
    display: flex;
    justify-content: space-evenly;
}

#PerspLevel .filledFootbox {
    background-color: rgb(166, 222, 194);
}

#PerspLevel #timer {
    color: var(--buttonBlue);
    background-color: rgba(0, 0, 0, 0.269);
}

#PerspLevel .Tipbox {
    margin: 0.5rem;
    background-color: rgb(166, 222, 194);
}


@media (max-width: 2000px) {
    
    #PerspLevel {
        width: 90%;
        padding: 1rem 0;
    }

    #PerspLevel .shapeOverlay {
        padding: 3rem 0 6rem;
    }
}