/*
    Dashboard.jsx view styles  
*/

#Dashboard {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dashboardWrap {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100rem;
}

/*  
    General Dashboard view styles
*/

#Dashboard h1 {
    align-self: flex-start;
    margin: 1.5rem 3rem;
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
    font-variant: small-caps;
    font-weight: 200;
}

#Dashboard .Tipbox {
    margin: 3rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 202, 255, 0.6);
} 

/*
    Swiper.js carousel styles
*/

#dashSwiper {
    width: 60rem;
    margin: 2rem 20rem 6rem;
}

#dashSwiper h2 {
    width: 18rem;
    height: 14rem;
    padding: 4rem 0;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashSwiperBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    padding: 1rem;
    font-family: Monospace;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--buttonBlue);
}

.dashSwiperBtn:hover {
    background-color: var(--lightBlue);
}

.dashSwiperBtn > img {
    margin-bottom: 1rem;
}

/*
    Planet styles
*/

.arithColor {
    background-color: rgba(255, 192, 203, 0.5);
}

.arithColor:hover {
    background-color: rgba(44, 16, 28, 0.7);
    color: rgba(245, 245, 245, 0.8);
}
 
.perspectiveColor {
    background-color: rgb(64, 224, 208, 0.5);
}

.perspectiveColor:hover {
    background-color: rgba(67, 38, 38, 0.7);
    color: rgba(245, 245, 245, 0.8);
}

.alphaLitColor {
    background-color: rgba(183, 200, 251, 0.5);
}

.alphaLitColor:hover {
    background-color: rgb(11, 23, 57, 0.7);
    color: rgba(245, 245, 245, 0.8);
}

/*
    Mission.jsx view styles
*/

#mission {
    width: 80rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 6rem;
}

.planet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 1rem;
    color: var(--blackWrap);
}

.planet h2 {
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: 0.15rem;
}

.planet img {
    margin: 1rem;
}

.planet p {
    font-size: 1.35rem;
    width: 20rem;
    margin: 2rem 3rem;
    letter-spacing: 0.02rem;
}


/*
    Media Queries
*/

@media (max-width: 2000px) {

    #dashSwiper {
        width: 60rem;
        margin: 2rem 16rem 4rem;
    }

    #dashSwiper button {
        font-size: 1.55rem;
    }
    
    #dashSwiper h2 {
        width: 16rem;
        height: 12rem;
        padding: 3.6rem 0;
        font-size: 1.75rem;
    }

    #Dashboard #rocketButton {
        margin: 4.4rem 0.6rem;
        width: 8.4rem;
        font-size: 2.2rem;
    }

    #mission {
        width: 90rem;
        margin: 3rem;
    }

    .planet {
        border-radius: 0.75rem;
        padding: 0.8rem;
        margin: 0.8rem;
    }
    
    .planet h2 {
        font-size: 2.2rem;
        font-weight: 200;
        letter-spacing: 0.15rem;
    }
    
    .planet img {
        margin: 1rem;
    }
    
    .planet p {
        font-size: 1.35rem;
        width: 20rem;
        margin: 2rem 3rem;
        letter-spacing: 0.02rem;
    }
}