/*
    Dashboard.jsx view styles  
*/

#Dashboard {
    margin-top: 9vh;
}

#dashboardWrap {
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 1rem;
}

/*  
    General Dashboard view styles
*/

#Dashboard h1 {
    margin: 2vh 2vw;
    font-size: 3.2rem;
    letter-spacing: 0.4rem;
    font-variant: small-caps;
    font-weight: 200;
}

#Dashboard .Tipbox {
    margin-bottom: 5vh;
    background-color: rgba(255, 202, 255, 0.6);
} 
.dashSwiperBtn img {
    height: 14vh;
}

.dashSwiperBtn .astroImg {
    height: 12vh;
}

/*
    Swiper.js carousel styles
*/

#dashSwiper {
    width: 70vw;
    min-height: 55vh;
}

#dashSwiper h2 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 0.2rem;
}

#dashSwiper hr {
    width: 40vw;
    margin: 2.5vh 0 7.5vh; 
    border-color: var(--buttonBlue);
}

#dashSwiper #swiperWrapper {
    width: 40vw;
    position: relative;
}

/* default Swiper style from React */
.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    color: var(--buttonBlue);
    padding: 2rem 1.5rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
    color: var(--lightBlue); 
}

#dashSwiper .swiper-button-next {
    right: -4vw;
  }
  
#dashSwiper .swiper-button-prev {
    left: -4vw;
}

.dashSwiperBtn {
    width: 15vw;
    min-height: 22vh;
    font-family: Monospace;
    font-size: 2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--buttonBlue);
}

.dashSwiperBtn:hover {
    background-color: var(--lightBlue);
}

.dashSwiperBtn > img {
    margin-bottom: 1vh;
}

/*
    Planet styles
*/

.arithColor {
    background-color: rgba(255, 192, 203, 0.5);
}

.arithColor:hover {
    background-color: rgba(44, 16, 28, 0.7);
    color: rgba(245, 245, 245, 0.8);
}
 
.perspectiveColor {
    background-color: rgb(64, 224, 208, 0.5);
}

.perspectiveColor:hover {
    background-color: rgba(67, 38, 38, 0.7);
    color: rgba(245, 245, 245, 0.8);
}

.alphaLitColor {
    background-color: rgba(183, 200, 251, 0.5);
}

.alphaLitColor:hover {
    background-color: rgb(11, 23, 57, 0.7);
    color: rgba(245, 245, 245, 0.8);
}

/*
    Mission.jsx view styles
*/

#mission {
    gap: 12rem;
    margin: 6rem 10rem;
    padding: 0 12rem;
    min-height: 40vh;
}

.planet {
    text-align: center;
    border-radius: 0.75rem;
    padding: 1rem;
    margin: 1rem;
    color: var(--blackWrap);
}

.planet h2 {
    font-size: 2.2rem;
    font-weight: 200;
    letter-spacing: 0.15rem;
}

.planet img {
    margin: 1rem;
}

.planet p {
    font-size: 1.35rem;
    width: 20rem;
    margin: 2rem 3rem;
    letter-spacing: 0.02rem;
}

.levelSection {
    gap: 1rem;
}

.levelSection li {
    list-style: none;
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #dashSwiper h2 {
        font-size: 1.75rem;
    }

    .dashSwiperBtn {
        font-size: 1.55rem;
    }

    #mission {
        margin: 2rem 3rem;
    }

    .planet {
        border-radius: 0.75rem;
        padding: 0.8rem;
        margin: 0.8rem;
    }
    
    .planet h2 {
        font-size: 2.2rem;
        font-weight: 200;
        letter-spacing: 0.15rem;
    }
    
    .planet img {
        margin: 1rem;
    }
    
    .planet p {
        font-size: 1.35rem;
        width: 20rem;
        margin: 2rem 3rem;
        letter-spacing: 0.02rem;
    }
}

/**
    Small Screen
**/
@media (max-width: 1450px) {
    #dashSwiper {
        width: 80vw;
    }

    #dashSwiper button {
        font-size: 1.55rem;
    }
    
    #dashSwiper h2 {
        font-size: 1.55rem;
    }

    #dashSwiper #swiperWrapper {
        width: 45vw;
    }

    #dashSwiper .swiper-button-next {
        right: -6vw;
      }
      
    #dashSwiper .swiper-button-prev {
        left: -6vw;
    }

    .dashSwiperBtn {
        width: 16vw;
    }

    #mission {
        gap: 8rem;
        margin: 1rem 2rem;
        padding: 0 4rem;
    }

    .planet {
        padding: 0.5rem;
        margin: 0.5rem;
    }
    
    .planet h2 {
        font-size: 2rem;
    }

    #Dashboard .Tipbox {
        margin: 2rem;
    } 
}