/*
    MainMenu component styles
*/
#mainMenu {
    display: flex;
    justify-content: center;
    margin-top: 12%;
} 

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 8rem;
    border-radius: 1rem;
    background-color: var(--blackWrap);
}

#mainMenu h1 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    letter-spacing: 0.5rem;
    font-variant: small-caps;
}

#mainMenu .redirect-button {
    margin: 1.2rem;
    font-size: 1.8rem;
}

#mainMenu .popup {
    width: 55%;
}


/*
    Narrow Screen viewport event
*/
#narrowScreen {
    margin-top: 4rem;
}

#narrowScreen h1 {
    margin: 1rem;
}

#narrowScreen .cardWrapper {
    background-color: var(--blackWrap);
    margin: 1rem;
    padding: 1rem;
}

#narrowScreen li {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #mainMenu {
        margin-top: 10%;
    }

    #mainMenu .popup {
        width: 60%;
    }
}

/**
    Small Screen
**/
@media (max-width: 1450px) {
    #mainMenu {
        margin-top: 7%;
    }

    #mainMenu .popup {
        width: 75%;
    }
}