/*
    MainMenu component styles
*/
#mainMenu {
    margin-top: 9%;
} 

#menuWrapper {
    padding: 5rem 8rem;
    border-radius: 1rem;
    background-color: var(--blackWrap);
}

#menuWrapper h1 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    letter-spacing: 0.5rem;
}

#menuWrapper .redirect-button, #menuWrapper form button {
    margin: 1.2rem;
    width: 12rem;
    padding: 1.1rem 0;
    font-size: 1.8rem;
}

#menuWrapper form button {
    margin: 2rem 0 0;
    font-family: var(--mono);
    border-radius: 0.4rem;
    border: none;
    color: black;
    background-color: var(--buttonBlue);
}

#menuWrapper .redirect-button:hover, #menuWrapper form button:hover {
    color: var(--lightBlue);
    background-color: var(--blackOverlay);
}

#menuWrapper form label {
    font-size: 1.5rem;
    margin-top: 1rem;
}

#menuWrapper form input {
    padding: 1rem;
    margin: 0.5rem;
    font-family: var(--mono);
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.4rem;
    border: none;
}

#menuWrapper form div {
    margin-top: 2rem;
    gap: 2rem;
}

#openPlay {
    font-size: 1.75rem;
    line-height: 2.2rem;
    letter-spacing: 0.05rem;
    width: 35vw;
    text-align: center;
    margin-bottom: 3rem;
}

#mainMenu .popup {
    width: 55%;
}

#mainMenu .popup .redirect-button {
    margin-top: 2rem;
    width: 16rem;
    padding: 1rem 2rem;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }

/*
    Narrow Screen viewport event
*/
#narrowScreen {
    margin-top: 4rem;
}

#narrowScreen h1 {
    margin: 1rem;
}

#narrowScreen .cardWrapper {
    background-color: var(--blackWrap);
    margin: 1rem;
    padding: 1rem;
}

#narrowScreen li {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #mainMenu {
        margin-top: 7%;
    }

    #mainMenu .popup {
        width: 60%;
    }

    #mainMenu .popup .redirect-button {
        margin-top: 2rem;
        width: 12rem;
        padding: 1rem;
        font-size: 2rem;
      }

      #openPlay {
        font-size: 1.5rem;
        line-height: 1.8rem;
        width: 40vw;
    }
}

/**
    Small Screen
**/
@media (max-width: 1450px) {
    #mainMenu {
        margin-top: 5%;
    }

    #mainMenu .popup {
        width: 75%;
    }

    #mainMenu .popup .redirect-button {
        margin-top: 1rem;
        width: 12rem;
        padding: 1rem;
        font-size: 1.85rem;
      }

      #openPlay {
        font-size: 1.3rem;
        line-height: 1.6rem;
        width: 45vw;
    }
}