/*
    MainMenu component styles
*/
#mainMenu {
    margin-top: 9vh;
} 

#menuWrapper {
    height: 80vh;
    width: 80vw;
    gap: 2vw;
    border-radius: 1rem;
    background-color: var(--blackWrap);
}

#menuWrapper h1 {
    width: 20vw;
    font-size: 6rem;
    margin-bottom: 4.2rem;
    letter-spacing: 0.7rem;
    text-align: center;
    text-shadow: 
    8px 18px 42px var(--lightBlue),
    12px 25px 88px var(--buttonBlue);
}

#menuWrapper #menuSelection {
    width: 42vw;
    height: 56vh;
    background-color: rgba(255, 255, 255, 0.04);
    border: 1px solid var(--lightBlue);
}

#menuWrapper .menuBundle {
    margin-top: 5vh;
}

#menuWrapper .menuBundle > div {
    display: flex;
    gap: 3rem;
    padding: 2.8vh;
}

#menuWrapper #login, #menuWrapper #signup, #menuWrapper #newPlayer {
    gap: 1rem;
}

#menuWrapper #signup h2, #menuWrapper #login h2, #menuWrapper #selectPlayer h2  {
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    font-weight: 400;
}

#menuWrapper form label, #menuWrapper form input {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05rem;
}

#menuWrapper #login label {
    align-items: end;
}

#menuWrapper form label {
    height: 4vh;
    width: 14vw;
    font-size: 1.7rem;
}

#menuWrapper form input {
    width: 16vw;
    height: 4vh;
    padding: 1rem;
    font-size: 1.45rem;
    font-family: var(--mono);
    text-align: center;
    background-color: var(--buttonBlue);
    border-radius: 0.4rem;
    border: none;
}

#menuWrapper #signup label {
    margin: 1vh 0;
}

#menuWrapper #signup input {
    margin: 1vh 0;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* positions eye icon inside the input field */
.password-toggle {
    position: absolute;
    right: 15px; 
    cursor: pointer;
  }

#menuWrapper .form-message {
    height: 1.42vh;
    font-size: 1.42vh;
    letter-spacing: 0.05rem;
    margin: 0.5vh 0;
}

#menuWrapper .redirect-button, #menuWrapper form button {
    width: 16rem;
    padding: 1.2rem 0;
    font-size: 1.8rem;
}

#menuWrapper #login button, #menuWrapper #newPlayer button {
    margin: 3rem;
}

#menuWrapper #signup button, #menuWrapper #openPlay button {
    margin: 1rem 3rem;
}

#menuWrapper form button, .playerSelectBtn {
    border-radius: 0.4rem;
    border: none;
    color: black;
    background-color: var(--buttonBlue);
    font-family: var(--mono);
}

.playerSelectBtn {
    margin: 2rem;
    height: 16rem;
    width: 14rem;
    gap: 2rem;
}

.playerSelectBtn {
    font-size: 2.2rem;
    letter-spacing: 0.042rem;
    font-weight: 400;
}

#menuWrapper .redirect-button:hover, #menuWrapper form button:hover, .playerSelectBtn:hover {
    color: var(--lightBlue);
    background-color: var(--blackOverlay);
}

#menuWrapper #newPlayer {
    margin-top: 1vh;
}

#menuWrapper #newPlayer img {
    border: 1px solid var(--lightBlue);
    padding: 2rem;
    border-radius: 50%;
    background-color: var(--buttonBlue);
}

#menuSelection hr {
    width: 100%;
    margin: 0.5vh 0 3vh;
}

#menuSelection #selectPlayer hr {
    margin: 2vh 0;
}

#openPlay {
    width: 35vw;
    font-size: 1.75rem;
    line-height: 2.42rem;
    letter-spacing: 0.05rem;
    text-align: center;
}

#openPlay div {
    margin-top: 3vh;
}

#mainMenu .popup {
    width: 55%;
}

#mainMenu .popup .redirect-button {
    margin-top: 2rem;
    width: 16rem;
    padding: 1rem 2rem;
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
  }

.rocket {
    animation: flyRight 10s linear infinite;
    margin: 2vh 0;
}

.rocket span {
    font-size: 42px;
    transform:rotate(45deg);
    animation: rocketHorizontalWiggleRight 0.6s ease-in-out infinite;
}

/*
    Narrow Screen viewport event
*/
#narrowScreen {
    margin-top: 4rem;
}

#narrowScreen h1 {
    margin: 1rem;
}

#narrowScreen .cardWrapper {
    background-color: var(--blackWrap);
    margin: 1rem;
    padding: 1rem;
}

#narrowScreen li {
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #mainMenu {
        margin-top: 8vh;
    }

    #menuWrapper {
        height: 84vh;
        width: 88vw;
        gap: 4vw;
    }

    #menuWrapper #menuSelection {
        height: 54vh;
        width: 48vw;
    }

    #mainMenu .popup {
        width: 60%;
    }

    #menuWrapper #signup div {
        height: 40vh;
    }

    #menuWrapper #signup label, #menuWrapper form input {
        height: 5vh;
    }

    #menuWrapper form input {
        width: 20vw;
    }

    #mainMenu .popup .redirect-button {
        margin-top: 2rem;
        width: 12rem;
        padding: 1rem;
        font-size: 2rem;
      }

      #openPlay {
        font-size: 1.5rem;
        line-height: 1.8rem;
        width: 40vw;
    }
}

/**
    Small Screen
**/
@media (max-width: 1450px) {
    #mainMenu {
        margin-top: 3%;
    }

    #menuWrapper {
        width: 90vw;
    }

    #menuWrapper h1 {
        width: 24vw;
        font-size: 5rem;
    }

    #menuWrapper #menuSelection {
        height: 52vh;
        width: 55vw;
    }

    #mainMenu .popup {
        width: 75%;
    }

    #menuWrapper #signup div {
        height: 40vh;
    }

    #menuWrapper #signup label, #menuWrapper form input {
        height: 5vh;
    }

    #menuWrapper form input {
        width: 22vw;
        font-size: 1.25rem;
    }

    #mainMenu .popup .redirect-button {
        margin-top: 1rem;
        width: 12rem;
        padding: 1rem;
        font-size: 1.85rem;
      }

      #openPlay {
        font-size: 1.3rem;
        line-height: 1.6rem;
        width: 45vw;
    }
}