#footbox {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1.5rem;
    margin: 3rem 0 1rem;
}

#footbox .emptyFootbox {
    padding: 1.3rem;
    border: 3px solid black;
}

#footbox .filledFootbox {
    padding: 1.4rem;
    border: 2px solid black;
}

/************

    Media Queries

*************/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #footbox {
        margin: 2rem 0 1rem;
        gap: 1rem;
    }

    #footbox .emptyFootbox {
        padding: 1.1rem;
    }
    
    #footbox .filledFootbox {
        padding: 1.2rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #footbox {
        margin: 1rem 0;
        gap: 0.75rem;
    }

    #footbox .emptyFootbox {
        padding: 1rem;
        border: 2px solid black;
    }

    #footbox .filledFootbox {
        padding: 1.1rem;
        border: 1px solid black;
    }
}