#footbox {
    margin: 6rem 0 4rem;
}

#footbox .emptyFootbox {
    margin: 0 0.8rem;
    padding: 0.3rem 1.3rem;
    border: 3px solid black;
}

#footbox .filledFootbox {
    margin: 0 0.8rem;
    padding: 0.4rem 1.4rem;
    border: 2px solid black;
}

@media (max-width: 2000px) {
    #footbox {
        margin: 4.4rem 0 2.2rem;
    }
    
    #footbox .emptyFootbox {
        margin: 0 0.8rem;
        padding: 0.2rem 1.1rem;
        border: 3px solid black;
    }
    
    #footbox .filledFootbox {
        margin: 0 0.8rem;
        padding: 0.3rem 1.2rem;
        border: 2px solid black;
    }
}