/*
    Arith component styles
*/

#ArithWrap {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

#ArithWrap #LevelEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(44, 16, 28, 0.95);
    padding: 2rem 10rem;
    border-radius: 1rem;
    color: rgba(245, 245, 245, 0.9);
}


#ArithLevel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(44, 16, 28, 0.95);
    padding: 2rem 10rem;
    border-radius: 1rem;
}

/* Used for inline question paragraph and answer input box */
#mathQABundle {
    display: flex;
    justify-content: center;
    margin: 2.6rem 0 1rem;
}

#mathQ {
    font-size: 5rem;
    color: rgba(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, 0.269);
    padding: 1rem;
    border-radius: 0.5rem;
}

#mathAns {
    width: 12rem;
    margin: 5rem 1rem;
    font-family: monospace;
    font-size: 4.2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.operandBox {
    width: 9rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
    font-family: monospace;
    font-size: 4.2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

#ArithWrap .filledFootbox {
    background-color: rgba(255, 255, 255, 0.75);
}

/*
    Objective component styles inside Arith
*/
#ArithWrap .objective {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin: 3rem 0;
    padding: 0.4rem 0.8rem 0;
    background-color: rgba(0, 0, 0, 0.269);
    border-radius: 0.5rem;
    font-weight: 200;
    font-size: 1.6rem;
    font-style: italic;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.9);
}

#ArithWrap .objective img {
    margin: 0.5rem 0.5rem 1rem 1rem;
}

#ArithWrap .objective span {
    margin: 0.5rem;
    padding-bottom: 0.2rem;
    font-size: 2rem;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
}

#ArithWrap .Tipbox {
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 2000px) {

    #ArithWrap {
        margin-top: 1.2rem;
    }
    
    #ArithLevel {
        padding: 0 9rem;
    }
    
    /* Used for inline question paragraph and answer input box*/
    #mathQABundle {
        margin-top: 3.4rem;
    }
    
    #mathQ {
        font-size: 5rem;
        padding: 1rem;
    }
    
    #mathAns {
        font-size: 4.2rem;
        width: 12rem;
        margin: 5rem 1rem;
    }
}