/*
    Arith view styles
*/

#ArithWrap {
    margin-top: 0.5%;
}

#ArithWrap #LevelEntry {
    background-color:rgba(44, 16, 28, 0.95);
    color: rgba(245, 245, 245, 0.9);
}

#ArithLevel {
    width: 80%;
    margin-top: 1%;
    padding: 4rem 0;
    background-color:rgba(44, 16, 28, 0.95);
    border-radius: 1rem;
}

/* Used for inline question paragraph and answer input box */
#mathQABundle {
    margin: 2rem 0;
}

/* Used for inline question paragraph and answer input box where space is shared with a button (Arith Level 3) */
#mathQABundle2 {
    margin-bottom: 1rem;
}

#mathQ {
    font-size: 5rem;
    color: rgba(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, 0.269);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

#mathAns {
    width: 12rem;
    margin: 5rem 1rem;
    font-family: monospace;
    font-size: 4.2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.operandBox, .operationBox {
    font-family: monospace;
    font-size: 4.2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

.operandBox {
    width: 9rem;
    margin: 0 1rem;
    padding: 0.5rem 0;
}

.operationBox {
    width: 6rem;
    margin: 0 0.5rem;
    padding: 0;
}

#ArithWrap .speaker {
    margin: 2rem 0 0;
    font-size: 4rem;
    background-color: rgba(44, 16, 28, 0.95);
    border: none;
}

#ArithWrap .filledFootbox {
    background-color: rgba(255, 255, 255, 0.75);
}


#ArithWrap .Tipbox {
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
}

/******

    Media Queries
    
******/

/*
    Medium Screen
*/
@media screen and (min-width: 1450px) and (max-width: 1950px) {
    #ArithLevel {
        margin-top: 0.5%;
        padding: 2rem 0;
    }
    
    /* Used for inline question paragraph and answer input box*/
    #mathQABundle {
        margin: 1rem 0;
    }
    
    #mathQ {
        font-size: 4.5rem;
    }
    
    #mathAns {
        font-size: 4.2rem;
        width: 10rem;
    }
}

/**
    Small Screen
**/
@media screen and (max-width: 1450px) {
    #ArithLevel {
        margin-top: 0.5%;
        width: 90%;
        padding: 1rem 0;
    }
    
    /* Used for inline question paragraph and answer input box*/
    #mathQABundle {
        margin: 1rem 0;
    }
    
    #mathQ {
        font-size: 4.5rem;
    }
    
    #mathAns {
        font-size: 4.2rem;
        width: 10rem;
    }
}