/*
    Planet Complete component styles
*/

#planetComplete {
    margin: 1vh;
    height: 75vh;
    width: 75vw;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 1rem;
}

#planetComplete h2 {
    gap: 3rem;
    font-size: 4rem;
    letter-spacing: 0.1rem;
}

#planetComplete p {
    font-size: 1.75rem;
    text-align: center;
}

#planetComplete div {
    gap: 10rem;
}

#planetComplete textarea {
    height: 25vh;
    width: 25vw;
    padding: 1.5rem 1rem;
    font-size: 1.75rem;
    letter-spacing: 0.075rem;
    resize: none;
    border-radius: 0.5rem;
}

@media (max-width: 2000px) {
    
    #planetComplete h2 {
        gap: 2rem;
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }
    
    #planetComplete p {
        font-size: 1.55rem;
    }
    
    #planetComplete div {
        gap: 8rem;
    }
    
    #planetComplete textarea {
        height: 30vh;
        width: 30vw;
        padding: 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
}