.erase-button {
    font-family: var(--mono);
    border-radius: 0.4rem;
    border: none;
}

.eraser-blue:hover {
    background-color: var(--buttonBlue);
    color: var(--red);
}

.eraser-black:hover {
    background-color: var(--blackOverlay);
    color: var(--pink);
}