/*
    Global styles
*/

/* Variables */
:root {
    --mono: Monospace;
    --blackWrap: rgba(0, 0, 0, 0.95);
    --blackOverlay: rgba(0, 0, 0, 0.5);
    --lightBlue: rgb(201, 234, 255);
    --buttonBlue: rgba(204, 238, 255, 0.6);
    --popupGreen: rgb(76, 136, 113);
    --red: rgb(119, 47, 47);
    --pink: rgb(210, 122, 122);
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--blackWrap);
    background-image: url("../images/stars.webp");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: moveBackground 120s infinite linear;
    color: var(--lightBlue);
    font-family: var(--mono);
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/*
    Global Classes:
*/

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

.center-text {
    text-align: center; 
}

.left-text {
    text-align: left;
}

.bkg-btn-blue {
    background-color: var(--buttonBlue);
}

.bkg-blk-overlay {
    background-color: var(--blackOverlay);
}

.clr-btn-blue {
    color: var(--buttonBlue);
}

.italic {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}

.indent {
    margin-left: 2rem;
}

.red {
    color: rgb(119, 47, 47);
}

.green {
    color: var(--popupGreen);
}

.pink {
    color: rgb(210, 122, 122);
}

/*
    Global animations:
*/

@keyframes moveBackground {
    0% {
        background-position: 50% 50%;
    }
    12.5% {
        background-position: 52% 48%;
    }
    25% {
        background-position: 54% 46%;
    }
    37.5% {
        background-position: 54% 48%;
    }
    50% {
        background-position: 54% 50%;
    }
    62.5% {
        background-position: 52% 52%;
    }
    75% {
        background-position: 50% 54%;
    }
    87.5% {
        background-position: 48% 52%;
    }
    100% {
        background-position: 50% 50%
    }
}

.horizontalBounceRight:hover {
    animation: horizontalBounceRight 1.6s ease-in-out infinite;
}

@keyframes horizontalBounceRight {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1rem);
    }
}

.horizontalBounceLeft:hover {
    animation: horizontalBounceLeft 1.6s ease-in-out infinite;
}

@keyframes horizontalBounceLeft {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1rem);
    }
}

.verticalBounce:hover {
    animation: verticalBounce 1.6s ease-in-out infinite;
}

@keyframes verticalBounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }
}

@keyframes flyRight {
    0% {
      padding-left: 0rem;
      }
      100% {
    padding-left: 96%;
      }
}
