/*
    Global styles
*/

/* Variables */
:root {
    --mono: Monospace;
    --lightBlue: rgb(201, 234, 255);
    --blackWrap: rgba(0, 0, 0, 0.95);
    --buttonBlue: rgba(204, 238, 255, 0.6);
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgba(0, 0, 0, 0.95);
    background-image: url("../images/stars.webp");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: moveBackground 120s infinite linear;
    color: var(--lightBlue);
    font-family: var(--mono);
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

/*
    Global Classes:
*/

.italic {
    font-style: italic;
}

.small-caps {
    font-variant: small-caps;
}

.indent {
    margin-left: 2rem;
}

.flex-row-10 {
    display: flex;
    align-items: center;
    gap: 10rem;
}

/* used in MainMenu.jsx !to be deleted! */
.cardWrapper {
    padding: 5rem 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
}


/*
    Global animations:
*/

@keyframes moveBackground {
    0% {
        background-position: 50% 50%;
    }
    12.5% {
        background-position: 52% 48%;
    }
    25% {
        background-position: 54% 46%;
    }
    37.5% {
        background-position: 54% 48%;
    }
    50% {
        background-position: 54% 50%;
    }
    62.5% {
        background-position: 52% 52%;
    }
    75% {
        background-position: 50% 54%;
    }
    87.5% {
        background-position: 48% 52%;
    }
    100% {
        background-position: 50% 50%
    }
}

.horizontalBounceRight:hover {
    animation: horizontalBounceRight 1.6s ease-in-out infinite;
}

@keyframes horizontalBounceRight {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1rem);
    }
}

.horizontalBounceLeft:hover {
    animation: horizontalBounceLeft 1.6s ease-in-out infinite;
}

@keyframes horizontalBounceLeft {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-1rem);
    }
}

.verticalBounce:hover {
    animation: verticalBounce 1.6s ease-in-out infinite;
}

@keyframes verticalBounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }
}
