/*
    General Styles
*/
body {
    background-image: url("../public/images/stars.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: moveBackground 120s infinite linear;
    color: rgb(201, 234, 255);
    font-family: Monospace;
}

@keyframes moveBackground {
    0% {
        background-position: 50% 50%;
    }
    12.5% {
        background-position: 52% 48%;
    }
    25% {
        background-position: 54% 46%;
    }
    37.5% {
        background-position: 54% 48%;
    }
    50% {
        background-position: 54% 50%;
    }
    62.5% {
        background-position: 52% 52%;
    }
    75% {
        background-position: 50% 54%;
    }
    87.5% {
        background-position: 48% 52%;
    }
    100% {
        background-position: 50% 50%
    }
}

button:hover {
    cursor: pointer;
}

/* SetHeader component */
.setHeader {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
    margin: 5rem 1rem 3rem;
}


/* used in MainMenu.jsx & PathMenu.jsx */
.cardWrapper {
    padding: 5rem 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
}

/* !! fix this to being specific to it's component !! */
h2 {
    font-size: 1.8rem;
    margin-bottom: 2.2rem;
    width: 12rem;
    padding: 0.2rem 0.2rem 0.1rem 0.5rem;
    border-radius: 0.5rem;
    letter-spacing: 0.9rem;
}

.lineHeight4 {
    line-height: 4rem;
}

.lineHeight8 {
    line-height: 8rem;
}

/*
    MainMenu component styles
*/
#mainMenu {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
}

#mainMenu h1 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
    letter-spacing: 0.5rem;
    font-variant: small-caps;
}

#mainMenu button {
    width: 12rem;
    padding: 0.75rem;
    font-family: Monospace;
    font-size: 1.75rem;
    margin: 1.2rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(204, 238, 255, 0.518);
}

#mainMenu button:hover {
    color: rgb(201, 234, 255);
    background-color: rgba(0, 0, 0, 0.269);
}


/*
    About component styles
*/

#aboutMenu {
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

#aboutWrapper {
    padding: 5rem 8rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.95);
}

#aboutMenu h2 {
    margin: 1.4rem;
    font-size: 1.6rem;
    align-self: flex-start;
    width: 28rem;
    letter-spacing: 0.5rem;
}

#aboutParagraph {
    margin: 4rem 0 0 2rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: left;
}

#signature {
    font-size: 1.6rem;
    font-style: italic;
    font-family: Arial;
    margin: 1rem 12rem 0 0;
    letter-spacing: 0.1rem;
    text-align: right;
}

#aboutMenu #rocketButton {
    background-color: rgba(204, 238, 255, 0.6);
    border: none;
    width: 10rem;
    font-family: monospace;
    font-size: 2.5rem;
    border-radius: 0.4rem;
    margin: 1rem;
    align-items: center;
}

#aboutMenu #rocketButton:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(201, 234, 255);
}



/*
    PathMenu component styles
*/
#pathMenu {
    margin-top: 16rem;
    display: flex;
    justify-content: center;
}

#pathMenu h1 {
    text-align: center;
    font-size: 3.2rem;
    margin-bottom: 6rem;
    letter-spacing: 1.5rem;
    font-variant: small-caps;
}

#pathMenu button {
    width: 15rem;
    margin: 4.2rem;
    padding: 3rem;
    font-family: Monospace;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: rgba(204, 238, 255, 0.518);
}

#pathFooter {
    display: flex;
    justify-content: center;
  }

/*
    See Rocket style section for additional info
*/
#pathMenu #rocketButton {
    width: 10rem;
    font-size: 1.7rem;
    padding: 0.6rem;
    margin: 4.2rem 4.2rem 0;
}

#pathMenu button:hover {
    color: rgb(201, 234, 255);
    background-color: rgba(0, 0, 0, 0.269);
}

/*
    SetMenu component styles
*/
#setMenu {
    margin-top: 16rem;
    display: flex;
    justify-content: center;
}


#setMenuWrapper {
    padding: 5rem 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95);
    width: 80rem;
}

#setMenu h1 {
    font-size: 3.6rem;
    margin-bottom: 4rem;
    letter-spacing: 0.5rem;
    font-variant: small-caps;
    margin: 0;
}

#setMenu h2 {
    align-self: start;
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: 0.6rem;
    font-variant: small-caps;
    margin-left: 8rem;
}

/* located outside of #setButtonWrapper (sibling) */
#beginningButton {
    padding: 2rem 1rem;
    font-family: Monospace;
    font-size: 1.75rem;
    margin: 4rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(204, 238, 255, 0.518);
    width: 16rem;
}

/* wraps the dynamic problem set button array */
#setButtonWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
}

#setButtonWrapper button {
    flex-basis: 25%;
    padding: 0.8rem 0.5rem;
    font-family: Monospace;
    font-size: 1.6rem;
    margin: 1rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(204, 238, 255, 0.518);
}

#setButtonWrapper button:hover, #beginningButton:hover {
    color: rgb(201, 234, 255);
    background-color: rgba(0, 0, 0, 0.269);
}

/*
    MathPath component styles
*/
#mathPath {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

#mathWrapper {
    background-color: rgba(52, 8, 8, .95);
    padding: 0 10rem;
    border-radius: 1rem;
}

/* Used for inline question paragraph and answer input box*/
#mathQABundle {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

#mathQ {
    font-size: 5rem;
    color: rgba(255, 255, 255, .9);
    background-color: rgba(0, 0, 0, 0.269);
    padding: 1rem;
    border-radius: 0.5rem;
}

#mathAns {
    font-family: monospace;
    font-size: 4.2rem;
    text-align: center;
    width: 12rem;
    margin: 5rem 1rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

/*
    LitPath component styles
*/
#litPath {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

#litWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 45, 79, 0.95);
    padding: 0 10rem;
    border-radius: 1rem;
}

#litAns {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.8rem;
    width: 15rem;
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(249, 247, 247, 0.715);
    padding: 0.5rem;
    margin: 0 0 1rem;
    letter-spacing: 0.15rem;
}

#litQ {
    font-size: 3rem;
    text-align: center;}

#litQ4 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0 0 3rem 0;
}


#letterQ {
    font-size: 6rem;
    line-height: 9rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.medEmoji {
    font-size: 7rem;
    line-height: 9rem;
}

.emojiFont {
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
}

/*
    Logic component styles
*/
#logicPath {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
}

#logicWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 45, 79, 0.95);
    padding: 0 10rem;
    border-radius: 1rem;
}


/*
    Sidebar component styles
*/

#sidebar {

}

/*
    Footbox component styles
*/

#footbox {
    margin: 8rem 0 2rem;
}

.emptyFootbox {
    margin: 0 0.8rem;
    padding: 1rem;
    border: 3px solid black;
}

.mathFill {
    margin: 0 0.8rem;
    padding: 1.063rem;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.75);
}

.litFill {
    margin: 0 0.8rem;
    padding: 1.063rem;
    border: 2px solid black;
    background-color: rgb(201, 234, 255);
}

.logicFill {
    margin: 0 0.8rem;
    padding: 1.1rem;
    border: 2px solid black;
    background-color: rgb(201, 234, 255);
}

/*
    Timer component styles
*/

#timerWrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

#timer{
    text-align: center;
    font-size: 2.5rem;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.269);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#mathWrapper > #timerWrapper > #timer {
    color: rgba(255, 255, 255, .9);
}


/* Rocket emoji home redirect styles
    used in:
    RocketHeader & RocketButton components
    rocketFooter footer class (PathMenu.jsx) 
*/

#rocketHeader, #rocketButton {
    display: flex;
}

#rocketButton {
    align-items: center;
    justify-content: center;
}

.rocketBelow {
    flex-direction: column;
}

.rocketHorizontal {
    transform: rotate(45deg);
    line-height: 5rem;
    font-size: 3rem;
}

.horizontalBounce:hover {
    animation: horizontalBounce 1.6s ease-in-out infinite;
}

@keyframes horizontalBounce {
    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(1rem);
    }
}

#rocketButton:hover .rocketHorizontal {
    animation: rocketHorizontalWiggle 0.6s ease-in-out infinite;
}


@keyframes rocketHorizontalWiggle {
    0%, 25%, 100% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(38deg)
    }

    75% {
        transform: rotate(52deg);
    }
}

.rocketVertical {
    transform: rotate(-25deg);
    font-size: 1.8rem;
    padding: 0 0 0 0.25rem;
}

.verticalBounce:hover {
    animation: verticalBounce 1.6s ease-in-out infinite;
}

@keyframes verticalBounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1rem);
    }
}

#rocketButton:hover .rocketVertical {
    animation: rocketVerticalWiggle 0.6s ease-in-out infinite;
}


@keyframes rocketVerticalWiggle {
    0%, 25%, 100% {
        transform: rotate(-45deg);
    }

    25% {
        transform: rotate(-55deg)
    }

    75% {
        transform: rotate(-35deg);
    }
}

.rocketBig {
    text-decoration: none;
    margin: 0.5rem 2rem;
    padding: 0.5rem;
    font-size: 5rem;
    opacity: 75%;
    transform: rotate(-10deg);
}

.rocketBig:hover {
    cursor: pointer;
    animation: rocketBigWiggle 0.8s ease-in-out infinite;
}

@keyframes rocketBigWiggle {
    0%, 100% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(-30deg)
    }

    75% {
        transform: rotate(-20deg);
    }
    }


    