.set-button {
    padding: 1rem 2rem;
    background-color: var(--buttonBlue);
    font-size: 2rem;
    font-family: var(--mono);
    font-variant: small-caps;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.4rem;
}

.set-button:hover {
    background-color: var(--lightBlue);
}

.set-button span {
    padding-left: 5rem;
}

@media (max-width: 2000px) {
    .set-button {
        padding: 0.9rem 1.8rem;
        font-size: 1.5rem;
    }
}