/* 
    RocketHeader component styles

    view RocketButton.css to explore #rocketButton styles
*/

#rocketHeader, #rocketButton {
    display: flex;
}

#rocketHeader h1 {
    color: var(--lightBlue);
    font-size: 2.5rem;
    font-variant: small-caps;
    margin-bottom: 2.2rem;
    width: 12rem;
    padding: 0.2rem 0.2rem 0.1rem 0.5rem;
    letter-spacing: 0.75rem;
    margin: 1rem 0 0 1rem;
    line-height: 2.8rem;
}

.rocketBig {
    text-decoration: none;
    margin: 1rem 0 0 2.5rem;
    padding: 1rem;
    font-size: 5rem;
    opacity: 75%;
    transform: rotate(-10deg);
}

.rocketBig:hover {
    cursor: pointer;
    animation: rocketBigWiggle 0.8s ease-in-out infinite;
}

@keyframes rocketBigWiggle {
    0%, 100% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(-30deg)
    }

    75% {
        transform: rotate(-20deg);
    }
    }

@media (max-width: 2000px) {

    #rocketHeader h1 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        width: 12rem;
        padding: 0.2rem 0.2rem 0.1rem 0.5rem;
        letter-spacing: 0.75rem;
        margin: 0.8rem 0 0 0.8rem;
        line-height: 2.4rem;
    }
    
    .rocketBig {
        margin: 0.6rem 0 0 2rem;
        padding: 0.8rem;
        font-size: 4.8rem;
    }
}